.help__body{
    margin-top:100px;
    margin-left: 15px;
}
.body__body{
    display:grid;
    place-items: center;
}

.body__image > img{
    height: 250px;
    width: 250px;
    object-fit: contain;
    
}
.body__image > h6{
    opacity: 60%;
}